.title{
  text-align: center;
  color: rgba(84, 84, 84, 0.83) ;
}
.sidebar{
  background-color:rgb(117, 158, 120);
 color:antiquewhite;
  min-height: 30vh;
  width: 110px;
}
.sidebar-brand{
  color:rgba(255, 255, 255, 0.686);
  font-weight:bolder;
  text-decoration: none;
}
@media screen and (min-width: 900px) {
  .myform{
    display:flex;
  }
}
h1{
  text-align: center;
}
.myform{
  border:1px solid gray;
  margin-top:2rem;
  border-radius: 1rem;
  padding:2rem;
}
.myform label{
width:10rem;
font-size: 18px;
font-style: italic;
font-weight: bold;
}
.myform h3{
font-size: 24px;
font-style: italic;
font-weight: bold;
}
.myform div{
 margin-bottom:1rem;
}
.error_message{
color:rgb(144, 47, 47);
font-size: 12px !important;
}
Table{
  border:2px solid rgba(128, 128, 128, 0.504);
  border-radius: 2rem !important;
}